$use-font-family:      "Noto Sans" !default;
$use-font-family-url:  "http://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700" !default;
$font-family-base:     $font-family-sans-serif !default;

$font-weight-override: false !default;
$font-weight-base:     $font-weight-normal !default;
$headings-font-weight: $font-weight-normal !default;
