@font-face {
    font-family: 'Proxima Nova';
    src:url('/public/assets/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf') format('truetype');
  }
@font-face {
    font-family: 'Proxima Nova Light';
    src:url('/public/assets/fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.ttf') format('truetype');
  }
@font-face {
    font-family: 'circular-medium';
    src:url('/public/assets/fonts/circular-medium.otf') format('opentype');
  }
$secondary-color:#9C9C9C;
$main-font:'circular-medium';
$input-font-size:55px;


a{
  color: $secondary-color;
  transition: .4s;
  &:hover{
    transition: .4s;
    color:white;
  }
}

body{
  color:white;
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
