$use-font-family:      "Karla" !default;
$use-font-family-url:  "http://fonts.googleapis.com/css?family=Karla:400,700,400italic" !default;
$font-family-base:     $font-family-sans-serif !default;

$font-weight-override: false !default;
$font-weight-base:     $font-weight-normal !default;
$headings-font-weight: $font-weight-normal !default;
