// $use-font-family:      "Source Sans Pro" !default;
// $use-font-family-url:  "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic" !default;
// $font-family-base:     $font-family-sans-serif !default;


// $font-weight-override: true !default;
// $font-weight-light:    300 !default;
// $font-weight-normal:   400 !default;
// $font-weight-medium:   500 !default;
// $font-weight-bold:     700 !default;


// $font-weight-base:     $font-weight-normal !default;
// $headings-font-weight: $font-weight-normal !default;


$use-font-family:      "Source Sans Pro" !default;
$use-font-family-url:  "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,300italic" !default;
$font-family-base:     $font-family-sans-serif !default;


$font-weight-override: true !default;
$font-weight-light:    200 !default;
$font-weight-normal:   300 !default;
$font-weight-medium:   400 !default;
$font-weight-bold:     600 !default;


$font-weight-base:     $font-weight-normal !default;
$headings-font-weight: $font-weight-medium !default;
